.body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}

.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

.bar {
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 1px solid #ccc;
}
.error {
    color: #756e15;
    background: transparent;
    border: 1px solid #87803e;
}

/* google translate hide panel*/
body {
    top: 0 !important;
}
.skiptranslate {
    display: none;
    height: 0;
}
.language__img {
    cursor: pointer;
}