body{
    background-image: url(../images/background.jpg);
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}
.bookImg {
    width: 100%;
    height: 100%;
}
.card {
    margin-bottom: 30px;
    margin-top: 20px;

}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid transparent;
    border-radius: 0;
}
.card-body {
    border-radius: 15px;
}

.card .card-subtitle {
    font-weight: 300;
    margin-bottom: 10px;
    color: #8898aa;
}
.table-product.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f3f8fa!important
}
.table-product td{
    border-top: 0 solid #dee2e6 !important;
    color: #728299!important;
}

/* google translate hide panel*/
body {
    top: 0 !important;
}
.skiptranslate {
    display: none;
    height: 0;
}
.language__img {
    cursor: pointer;
}