.body {
    background: #475d62 url(../images/background.jpg);
    background-size: cover;
    position: relative;
    font-family: sans-serif;
}

.content h3 {
    text-align: center;
    font-size: 30px;
    margin: 0;
    padding-top: 10px;
    color: rgb(231, 11, 11);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.content {
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0 14px 28px rgb(208, 83, 135), 0 10px 10px rgb(208, 70, 150);
    transition: .4s;
    background: #FCB4D5;
}

.content:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transform: translate(0px, -8px);
}

.shopImg {
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}

.content p {
    text-align: center;
    color: rgb(231, 11, 11);
    padding-top: 08px;

}

.content h6 {
    font-size: 26px;
    text-align: center;
    color: rgb(231, 11, 11);
    margin: 0;

}

.content ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.content li {
    padding: 5px;
}

.fa {
    font-size: 26px;
    transition: .4s;
}

.checked {
    color: gold;
}

.fa:hover {
    transform: scale(1.3);
    transition: .6s;
}

.content button {
    text-align: center;
    font-size: 24px;
    color: black;
    width: 100%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    margin-top: 5px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.buy-1 {
    background: rgba(133, 238, 225, 0.7);
}

.buy-2 {
    background: rgba(41, 128, 239, 0.7);
}

.buy-3 {
    background: rgba(41, 128, 239, 0.7);
}

/* Медиа для карточек */
/*
@media (max-width:1920px) {
    .gallery{
        margin-top: 110px;
    }
}
 */
@media (max-width: 1000px) {
    .content {
        width: 45%;
    }
}

@media (max-width: 750px) {
    .content {
        width: 100%;
    }
}

.bar {
    padding: 10px;
    margin: 10px;
    background: transparent;
    border: 1px solid #ccc;
}
.error {
    color: #756e15;
    background: transparent;
    border: 1px solid #87803e;
}

/* google translate hide panel*/
body {
    top: 0 !important;
}
.skiptranslate {
    display: none;
    height: 0;
}
.language__img {
    cursor: pointer;
}