body {
    font-size: 20px;
    font-weight: 100;
    background-color: rgba(118, 176, 252, 0.7);
    font-family: 'Lato', sans-serif;
    color: #5b1a1a;
}

.container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

p {
    margin: 0;
}